@charset "UTF-8";
header {background-color: tan;
height: 50px;
position: relative;}
header img { max-width: 100%;
height: auto;}
header h1 {color: white;
font-size: 50px;
position: absolute;
top: 25%;
left: 25%;
transform: translate(-50%,-50%);
}
 ul {margin: 0;
padding: 0;
overflow: hidden;
background-color: green;
list-style: none;}
 li {float: left;
}
li a {display: block;
color: white;
text-align: center;
text-decoration: none;
}
li a:hover {background-color: pink;
}
body {background-color: linen;}
article h2 {
color: pink;
text-align: [left;}
article p {margin: 25px 50px;
display: block;
}
img {display: block;
  float: left;
  border-radius: 50%;
}
img {display: block;
float: none;
border-radius: 50%;
}
img {display: block;
float: right;
border-radius: 50%;}
.clearfix::after {content:
"";
clear: both;
display: table;}
footer {background-color: tan;}
