header {background-color: tan;
height: 50px;
position: relative;}
/*header > img {width: 250px;
height: auto;}*/
header h1 {color: white;
font-size: 50px;
position: absolute;
top: 25%;
left: 25%;
transform: translate(-50%,-50%);
}
 ul {margin: 0;
padding: 0;
overflow: hidden;
background-color: green;
list-style: none;}
 li {float: left;
}
li a {display: block;
color: white;
text-align: center;
text-decoration: none;
}
li a:hover {background-color: pink;
}
body {background-color: linen;}
/*article h2 {padding-left: 30px;
color: pink;
text-align: center;}
article p {padding: 8px;
display: block;
}
/*p img {display: block;
  float: left;
  width: 5%;
} */
.clearfix::after {content:
"";
clear: both;
display: table;}
footer {background-color: tan;}
