header {background-color: tan;
height: 50px;
position: relative;}
main {background-color: #090;}
footer {background-color: tan;}
nav {background-color: green;
height: 20px;}
nav ul {margin: auto;
width: 60%;}
nav li {float: left;
text-align: center;
width: 25%;}
nav a:hover {background-color: pink;}
body {color: black;
}
article {padding: 20px;}
img {width: 5px;
height: 5px;}
p {padding: 8px;}
header h2 {color: white;
font-size: 50px;
position: absolute;
top: 25%;
left: 25%;
transform: translate(-25%,-25%);}
